# SPDX-License-Identifier: MIT
---
- name: Ensure facts and vars used by role are set
  include_tasks: set_vars.yml

- name: Add Elasticsearch to metrics domain list
  set_fact:
    __metrics_domains: "{{ __metrics_domains + ['elasticsearch'] }}"
  when: metrics_from_elasticsearch | d(false) | bool

# from spark not supported in el7
- name: Add OpenMetrics to metrics domain list
  set_fact:
    __metrics_domains: "{{ __metrics_domains + ['openmetrics'] }}"
  when:
    - metrics_from_spark | d(false) | bool
    - ansible_facts["os_family"] != "RedHat" or
      ansible_facts["distribution"] == "Fedora" or
      ansible_facts["distribution_major_version"] is version("8", ">=")

- name: Add SQL Server to metrics domain list
  set_fact:
    __metrics_domains: "{{ __metrics_domains + ['mssql'] }}"
  when: metrics_from_mssql | d(false) | bool

- name: Add Postfix to metrics domain list
  set_fact:
    __metrics_domains: "{{ __metrics_domains + ['postfix'] }}"
  when: metrics_from_postfix | d(false) | bool

- name: Add bpftrace to metrics domain list
  set_fact:
    __metrics_domains: "{{ __metrics_domains + ['bpftrace'] }}"
  when: metrics_from_bpftrace | d(false) | bool

- name: Setup metrics access for roles
  set_fact:
    __metrics_accounts:
      - {user: "{{ metrics_username }}", sasluser: "{{ metrics_username }}",
         saslpassword: "{{ metrics_password }}"}
  when: metrics_username | d("") | length > 0

# yamllint disable rule:line-length
- name: Configure Elasticsearch metrics
  vars:
    elasticsearch_agent: "{{ metrics_from_elasticsearch | d(false) | bool }}"
    elasticsearch_export_type: "{{ metrics_provider }}-metrics"
    elasticsearch_export_index: "{{ metrics_provider }}"
    elasticsearch_export_metrics: "{{ metrics_into_elasticsearch | d(false) | bool }}"
    elasticsearch_metrics_provider: "{{ metrics_provider }}"
  include_role:
    # noqa role-name[path]
    name: "{{ role_path }}/roles/elasticsearch"
  when: >
    metrics_from_elasticsearch | d(false) | bool or
    metrics_into_elasticsearch | d(false) | bool
# yamllint enable rule:line-length

- name: Configure Spark metrics
  vars:
    spark_metrics_agent: "{{ metrics_from_spark | d(false) | bool }}"
    spark_export_metrics: "{{ metrics_into_spark | d(false) | bool }}"
    spark_metrics_provider: "{{ metrics_provider }}"
  include_role:
    # noqa role-name[path]
    name: "{{ role_path }}/roles/spark"
  when: >
    metrics_from_spark | d(false) | bool or
    metrics_into_spark | d(false) | bool

- name: Configure SQL Server metrics.
  vars:
    mssql_metrics_provider: "{{ metrics_provider }}"
  include_role:
    # noqa role-name[path]
    name: "{{ role_path }}/roles/mssql"
  when: metrics_from_mssql | d(false) | bool

- name: Configure Postfix metrics.
  vars:
    postfix_metrics_provider: "{{ metrics_provider }}"
  include_role:
    # noqa role-name[path]
    name: "{{ role_path }}/roles/postfix"
  when: metrics_from_postfix | d(false) | bool

- name: Setup bpftrace metrics.
  vars:
    bpftrace_users: "{{ __metrics_accounts }}"
    bpftrace_metrics_provider: "{{ metrics_provider }}"
  include_role:
    # noqa role-name[path]
    name: "{{ role_path }}/roles/bpftrace"
  when: metrics_from_bpftrace | d(false) | bool

- name: Setup metric querying service.
  include_role:
    # noqa role-name[path]
    name: "{{ role_path }}/roles/keyserver"
  when: metrics_query_service | bool

- name: Setup metric collection service.
  vars:
    pcp_pmie_endpoint: "{{ metrics_webhook_endpoint }}"
    pcp_pmlogger_discard: "{{ metrics_retention_days }}"
    pcp_target_hosts: "{{ metrics_monitored_hosts }}"
    pcp_optional_agents: "{{ (__metrics_domains + metrics_optional_domains) | unique | list }}"
    pcp_optional_packages: "{{ metrics_optional_packages }}"
    pcp_accounts: "{{ __metrics_accounts }}"
    pcp_rest_api: "{{ metrics_query_service | bool or
                      metrics_graph_service | bool }}"
  include_role:
    # noqa role-name[path]
    name: "{{ role_path }}/roles/pcp"
  when: metrics_provider == 'pcp'

- name: Manage metrics graphing service
  vars:
    grafana_cert: "{{ __metrics_grafana_cert_dir + '/' + metrics_grafana_certificates.0.name + '.crt'
      if metrics_grafana_certificates | length > 0
      else metrics_grafana_cert if metrics_grafana_cert.startswith('/')
      else __metrics_grafana_cert_dir + '/' + metrics_grafana_cert if metrics_grafana_cert | length > 0
      else __metrics_grafana_cert_dir + '/' + metrics_grafana_cert_src | basename
      if metrics_grafana_cert_src | length > 0
      else '' }}"
    grafana_private_key: "{{ __metrics_grafana_private_key_dir + '/' + metrics_grafana_certificates.0.name + '.key'
      if metrics_grafana_certificates | length > 0
      else metrics_grafana_private_key if metrics_grafana_private_key.startswith('/')
      else __metrics_grafana_private_key_dir + '/' + metrics_grafana_private_key if metrics_grafana_private_key | length > 0
      else __metrics_grafana_private_key_dir + '/' + metrics_grafana_private_key_src | basename
      if metrics_grafana_private_key_src | length > 0
      else '' }}"
  when: metrics_graph_service | bool
  block:
    - name: Create certificates using the certificate role
      when:
        - metrics_grafana_certificates | length > 0
        - ansible_facts['os_family'] == 'RedHat'
      block:
        - name: Check the OS version for self-sign
          when:
            - (ansible_facts['distribution_version'] | int == 7 and
              metrics_grafana_certificates.0.ca == 'self-sign')
          fail:
            msg: >-
              Creating a self-signed certificate is not supported on
              {{ ansible_facts['distribution'] }}-{{
                ansible_facts['distribution_version'] }}

        - name: Create certificates using the certificate role
          include_role:
            name: fedora.linux_system_roles.certificate
          vars:
            certificate_requests: "{{ metrics_grafana_certificates }}"

    - name: Copy grafana cert
      copy:
        src: "{{ metrics_grafana_cert_src }}"
        dest: "{{ grafana_cert }}"
        mode: "0644"
        owner: root
        group: root
      when: metrics_grafana_cert_src | length > 0

    - name: Copy grafana private key
      copy:
        src: "{{ metrics_grafana_private_key_src }}"
        dest: "{{ grafana_private_key }}"
        mode: "0600"
        owner: root
        group: root
      when: metrics_grafana_private_key_src | length > 0
      no_log: true

    - name: Setup metric graphing service.
      vars:
        grafana_metrics_provider: "{{ metrics_provider }}"
      include_role:
        # noqa role-name[path]
        name: "{{ role_path }}/roles/grafana"
      when: metrics_graph_service | bool

- name: Configure firewall
  include_tasks: firewall.yml

- name: Configure selinux
  include_tasks: selinux.yml
