# The following are added to retrieve additional host info

LoadPlugin disk
LoadPlugin load
LoadPlugin nfs
LoadPlugin entropy
LoadPlugin interface
LoadPlugin uptime

LoadPlugin cpu
<Plugin cpu>
  ReportByState true
  ReportByCpu true
  ValuesPercentage true
</Plugin>

LoadPlugin memory
<Plugin memory>
  ValuesAbsolute true
  ValuesPercentage true
</Plugin>

LoadPlugin swap
<Plugin swap>
  ReportBytes true
  ValuesPercentage true
</Plugin>

LoadPlugin df
<Plugin df>
  # ignore the usual virtual / temporary file-systems
  FSType sysfs
  FSType proc
  FSType devtmpfs
  FSType devpts
  FSType tmpfs
  FSType fusectl
  FSType cgroup
  IgnoreSelected true
  ValuesAbsolute true
  ValuesPercentage true
</Plugin>

LoadPlugin aggregation
<Plugin aggregation>
  <Aggregation>
    Plugin "cpu"
    Type "percent"

    GroupBy "Host"
    GroupBy "TypeInstance"

    CalculateSum true
    CalculateAverage true
  </Aggregation>
</Plugin>

LoadPlugin processes
<Plugin processes>
  Process "fluentd"
  Process "collectd"
  ProcessMatch "ovirt-engine" "ovirt-engine\.xml"
  ProcessMatch "ovirt-engine-dwhd" "ovirt-engine-dwhd"
  ProcessMatch pg_writer "postgres:.writer.process"
  ProcessMatch pg_wal_writer "postgres:.wal.writer.process"
  ProcessMatch pg_checkpointer_process "postgres:.checkpointer.process"
  ProcessMatch pg_autovacuum "postgres:.*autovacuum"
  ProcessMatch pg_stats_collector "postgres:.stats.collector.process"
  ProcessMatch pg_engine "postgres: {{ ovirt_engine_db_user }} {{ ovirt_engine_db_name }}"
  ProcessMatch pg_ovirt_engine_history "postgres: {{ ovirt_engine_history_db_user }} {{ ovirt_engine_history_db_name }}"
</Plugin>
