# The following are added to retrieve additional host info

LoadPlugin disk
LoadPlugin load
LoadPlugin nfs
LoadPlugin entropy
LoadPlugin interface
LoadPlugin uptime

LoadPlugin virt
<Plugin virt>
    ExtraStats "disk disk_err pcpu vcpupin cpu_util domain_state"
    HostnameFormat hostname
    PluginInstanceFormat name
</Plugin>

LoadPlugin cpu
<Plugin cpu>
  ReportByState true
  ReportByCpu true
  ValuesPercentage true
</Plugin>

LoadPlugin memory
<Plugin memory>
  ValuesAbsolute true
  ValuesPercentage true
</Plugin>

LoadPlugin swap
<Plugin swap>
  ReportBytes true
  ValuesPercentage true
</Plugin>

LoadPlugin df
<Plugin df>
  # ignore rootfs; else, the root file-system would appear twice, causing
  # one of the updates to fail and spam the log
  FSType rootfs
  # ignore the usual virtual / temporary file-systems
  FSType sysfs
  FSType proc
  FSType devtmpfs
  FSType devpts
  FSType tmpfs
  FSType fusectl
  FSType cgroup
  IgnoreSelected true
  ValuesAbsolute true
  ValuesPercentage true
</Plugin>

LoadPlugin aggregation
<Plugin aggregation>
  <Aggregation>
    Plugin "cpu"
    Type "percent"

    GroupBy "Host"
    GroupBy "TypeInstance"

    CalculateSum true
    CalculateAverage true
  </Aggregation>
</Plugin>

LoadPlugin processes
<Plugin processes>
  Process "fluentd"
  Process "collectd"
  ProcessMatch "libvirt" "/usr/sbin/libvirtd --listen"
  ProcessMatch "qemu" "/usr/libexec/qemu-kvm"
  ProcessMatch "vdsmd" "/usr/bin/python2 /usr/share/vdsm/vdsm"
  ProcessMatch "momd" "python /usr/sbin/momd"
  ProcessMatch "supervdsmd" "/usr/share/vdsm/supervdsm"
</Plugin>
