LoadPlugin postgresql

<Plugin postgresql>
  <Query custom_deadlocks>
      Statement "SELECT deadlocks as num_deadlocks \
          FROM pg_stat_database \
          WHERE datname = $1;"

      Param database

      <Result>
          Type "pg_xact"
          InstancePrefix "num_deadlocks"
          ValuesFrom "num_deadlocks"
      </Result>
  </Query>

  <Database {{pg_db_name}}>
    Query custom_deadlocks
#    Query backends
#    Query transactions
#    Query queries
#    Query queries_by_table
#    Query query_plans
    Query table_states
#    Query query_plans_by_table
#    Query table_states_by_table
    Query disk_io
#    Query disk_io_by_table
    Query disk_usage
  </Database>
</Plugin>
